:root {
    --orange: #f26002;
    --white: #ffffff;
    --iceblue: #eff9ff;
    --lightblue: #8ccbea;
    --blue: #0271bc;
    --darkblue: #304268;
}

$font-family: "Roboto", sans-serif;
$font-title: "Roboto Slab", serif;
$font-size: 16px;