.footer {
    display: flex;
    background-color: var(--darkblue);
    color: var(--white);
}

.footer_menu{
    
    text-decoration: none;
}

.footer_copy{

}

.list1-column{
    color: white;
    

}