.footer {
    display: flex;
    background-color: var(--darkblue);
    color: var(--white); 
    padding: 65px 15px 36px;
    a{ 
        color: var(--white);
        text-decoration: none;
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        gap: 8px;
        
    }
}
.botton-arrow{
    left: 43%;
    border-radius: 50%;
    border: 1px solid var(--lightblue);
    background-color: white;
    position: absolute;
    padding: 10px;
    transform: translateY(-185%);
}

.footer_copy{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.footer_menu {
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;   
}

@media screen and (min-width:478px) {
    .footer_menu {
        flex-direction: row;
    }
    .footer_list {
        flex-direction: row;
    }
}