/*Section 1*/

.anonymous_proxy {
    background: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;  
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 25px;
}

.title{
    color: var(--white);
    font-family: "Roboto";
    font-size: xxx-large;
    padding-bottom: 20px;
    text-align: center;
}

.proxy-text{
    color: white;
}

.button-down{
    border-radius: 50%;
    background-color: white;
    padding: 5px;
}
.insomnia{
    width: 100vw;
    height: auto;
    padding: 30px 15px 45px 15px;
}