/*Section 1*/

.anonymous_proxy {
    background: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 25px;
}

.title {
    color: var(--white);
    font-family: 'Roboto Slab';
    font-size: 2.4rem;
    padding-bottom: 20px;
    text-align: center;
}

.proxy-text {
    color: white;
}

.button-down {
    border-radius: 50%;
    background-color: white;
    padding: 5px;
}

.insomnia {
    width: 100vw;
    height: auto;
    border-top: 30px solid white;
    padding: 30px 15px 45px 15px;
}

.small {
    color: var(--lightblue);
    font-size: small;
}

.section-title {
    font-size: 1.3rem;
    font-weight: bold;
}

.section-text {
    margin: 20px 0 26px;
}

.section-go {
    border: 2px solid var(--orange);
    background-color: var(--white);
    color: var(--orange);
    border-radius: 21px;
    border-color: var(--orange);
    padding: 9px 20px;
    font-size: 80%;
}

.reasons-title {
    font-size: 1.3rem;
    font-weight: bold;
}
h4{
    font-size: 1rem;
    font-weight: bold;
}

p{
    font-size: medium;
}

article{
    padding-left: 70px;
        padding-right: 70px;
}
.reasons {
    padding: 30px 15px 60px 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
    background-color: var(--iceblue);

    @media screen and (min-width:768px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;

    }

    article {
        grid-row: span 1;
        font-size: small;
        padding: 1rem;
    }
}

.container {
    display: grid;
    justify-content: center;
    gap: 5px;
}

@media screen and (min-width:768px) {
    .container {
        grid-area: 1/1/1/4;
    }
}


.botton-reasons {
    border: 2px solid var(--orange);
    border-radius: 20px;
    color: var(--white);
    background-color: var(--orange);
    padding: 9px 20px;
    font-size: 80%;
}

@media screen and (min-width:768px) {
    .article {
        &_item-1 {
            grid-area: 2/1/2/2;
        }

        &_item-2 {
            grid-area: 2/2/2/3;
        }

        &_item-3 {
            grid-area: 2/3/2/4;
        }
    }

    .container-botton {
        margin: 0 auto;
        grid-area: 3/2/3/3;
    }
}