<!-- <footer class="footer">
    <nav class="footer_menu">
      <section class="footer_copy">
        <span>&#169;2024</span>
        <span>we&#10084;components</span>
      </section>
      <section class="footer_list">
        <ul class="list1-column">
          <li><a href="https://adalab.es">ARTICLES</a></li>
          <li><a href="https://adalab.es">BOOKS</a></li>
          <li><a href="https://adalab.es">EVENTS</a></li>
          <li><a href="https://adalab.es">REASONS</a></li>
          <li><a href="https://adalab.es">TIPS</a></li>
        </ul>
        <ul class="list2-column">
          <li><a href="https://adalab.es">TWITTER</a></li>
          <li><a href="https://adalab.es">INSTAGRAM</a></li>
          <li><a href="https://adalab.es">MASTODON.SOCIAL</a></li>
        </ul>
      </section>
    </nav>
  </footer> -->