<footer>
    <div><!--Flecha hacia arriba--></div>
    <nav>
      <section>
        <span>&#169;2024</span>
        <span>we&#10084;components</span>
      </section>
      <section>
        <ul>
          <li>ARTICLES</li>
          <li>BOOKS</li>
          <li>EVENTS</li>
          <li>REASONS</li>
          <li>TIPS</li>
        </ul>
      </section>
      <section>
        <ul>
          <li>TWITTER</li>
          <li>INSTAGRAM</li>
          <li>MASTODON.SOCIAL</li>
        </ul>
      </section>
    </nav>
  </footer>