<main>
    <section>
      <!--Backgound-image in css-->
      <h1>ANONYMOUS PROXY</h1>
      <p>In hac habitasse platea dictumst.</p>
      <!--ico-scroll-down-->     
    </section>
    <section>
      <span>Insomnia Tips</span>
      <h2>Looking Through A Window</h2>
      <p>Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
      <!--boton que pone GO-->
    </section>
    <section>
      <h2>3 Reasons To Purchase</h2>
      <article>
        <h3>Ut sed metus</h3>
        <p>Lorem ipsum dolor sit amet, consecteur.</p>
      </article>
      <article>
        <h3>Curabitur ac erat</h3>
        <p>Mauris mattis urna quis lorem molestie.</p>
      </article>
      <article>
        <h3>Morbi dictum</h3>
        <p>Aliquam in dolor et dolor tincidunt.</p>
      </article>
    </section>
    <div><!--boton "More reasons"--></div>
  </main>