<main class="homepage">
    <section class="anonymous_proxy">
      <!--Backgound-image in css-->
    <h1 class="title">ANONYMOUS PROXY</h1>
    <p class="proxy-text">In hac habitasse platea dictumst.</p> 
    <div class="button-down">
      <img src="./images/ico-scroll-down.svg" alt="scroll">
    </div>   
    </section>
    <section class="insomnia">
      <span class="small">Insomnia Tips</span>
      <h2 class="section-title">Looking Through A Window</h2>
      <p class="section-text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
      <button class="section-go">Go</button>
    </section>
    <section class="reasons">
      <div class="container">
        <h3 class="reasons-title">3 Reasons To Purchase</h3>
      </div>
      <article class="article-item-1">
        <h4>Ut sed metus</h4>
        <p>Lorem ipsum dolor sit amet, consecteur.</p>
      </article>
      <article class="article-item-2">
        <h4>Curabitur ac erat</h4>
        <p>Mauris mattis urna quis lorem molestie.</p>
      </article>
      <article class="article-item-3">
        <h4>Morbi dictum</h4>
        <p>Aliquam in dolor et dolor tincidunt.</p>
      </article>
      <div class="container">
        <button class="botton-reasons">More Reasons</button>
      </div>
    </section>
    
  </main>